<%- include('./parts/head'); -%>
<%- include('./parts/header'); -%>

<div class=boxQuestion>
        <p id="answersCount">6 answers</p>
        <div class="contentQuestion">
          <p id="titleAsk"><%= question.title %></p>
        <p id="descriptionAsk"><%= question.description %></p>
        </div>
        <div class="actionButtons">
          <a href="#" class="button" id="yellowButton">Answer</a>
        </div>
</div>

<div class="boxAnswer view">
        <form action="/question/<%=question.id%>/saveAnswer" method="POST">
                <p>Your answer</p>
                <textarea name="body" cols="30" rows="10" placeholder="Be kind and sweet"></textarea>
                <div class="actionButtons">
                        <button type="submit" class="button" id="yellowButton">Send</button>
                </div>
                
        </form>
</div>


        <%answer.forEach(answer => {%>
                <div class="boxAnswer">
                <p> <%=answer.body%> </p>
                </div>
        <%})%>
<script src="../js/scripts.js"></script>